/*base*/
.m-f{
	font-family: 'BPG WEB 001';
}
.m-l{
	font-family: 'Lobster';
}
.clear{
	clear: both;
}
/*end base*/

html, body {
	width: 100%;
	height: 100%;
}

/*/first page/*/
.back-img{
	background-image: url("../images/3.jpg");
	width: 100%;
	height: 100%;
	background-position: center right;
	background-repeat: repeat;
	background-size: cover;
}
.back-text{
	margin-top: 120px;
	margin-right: 150px;
	width: 500px;
	height: 500px;
	float: right;
	text-align: center;
	color: black;
}
.back-img-text{
	font-size: 80px;
	font-family: 'Lobster';
	text-decoration: underline;
	margin-bottom: 40px;
}
.back-img-text-2{
	line-height: 27px;
	font-size: 40px;
	font-family: 'BPG WEB 001';
}
.back-img-text-3{
	font-family: 'BPG WEB 001';
	font-size: 40px;
	color: black;
}
.button{
	border: 3px solid black;
	width: 100px;
	height: 65px;
	margin: 0 auto;
}
.btn-outline-dark{
	color: black;
	font-family: 'BPG WEB 001';
	font-size: 32px;
}
.btn{
	color: black;
}

/*end first page*/

/*mtaveri*/
.header-image{
	margin-top: 30px;
	margin-bottom: 15px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}
.image-7{
	max-width: 100%;
	margin-top: 45px;
	width: 430px;
	height: 280px;
}
.right-side{

	margin-top: 45px;
	width: 600px;
	font-family: 'BPG WEB 001';
}
.h3-1{
	text-align: center;
	margin-bottom: 30px;
}
.p-1{
	font-size: 20px;
}
.h3-2{
	text-align: center;
	margin-top: 80px;
	margin-bottom: 30px;
}
.a1{
	background-color: red;
}
.p-1-2{
	font-size: 20px;
}
.img-8{
	margin-top: 25px;
	margin-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/*end mtavari*/

/*pagw 2*/
.h3-p2{
	margin-top: 60px;
	font-size: 40px;
	text-align: center;
}
.img-9{
	max-width: 100%;
	 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
	width: 340px;
	height: 390px;
	margin-bottom: 40px;
}
.p-p2{
	font-size: 20px;
}
.img-12{
	max-width: 100%;
	margin-bottom: 40px;
	width: 499px;
}
.img-11{
	align-items: center;
}
/*end page 2*/

/*page 3*/
.h3-3{
	margin-top: 60px;
	margin-bottom: 40px;
	font-size: 40px;
	text-align: center;
}
.img-13{
	max-width: 100%;
	width: 220px;
	height: 350px;
	/*transition: all 2s linear 0.5s;*/
}
.img-14{
	max-width: 100%;
	width: 220px;
	height: 350px;
/*	transition: all 2s linear 0.5s;*/
}
.img-15{
	max-width: 100%;
	width: 220px;
	height: 350px;
/*	transition: all 2s linear 0.5s;*/
}
/*.img-13:hover{
	height: 300px;
}*/
/*.img-13:hover .p-abs{
	display: block;
}
.img-14:hover{
	height: 300px;
}
.img-15:hover{
	height: 300px;
}*/
/*end page 3*/

/*footer section*/
.footer-section{
	background-color: darkgrey;
	padding-top: 30px;
}
.footer-c{
	width: 300px;
	height: 200px;
}
.p-f{
	line-height: 18px;
	margin-top: 47px;
}
.f-soc{
	font-size: 22px;
	margin-top: 47px;
}
.social-last-icons{
	margin-right: 18px;
}
/*end footer*/

/*page 4*/
.form-section{
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
}
.form-info{
	width: 100%;
	margin-top: 8px;
	padding: 5px;
	font-size: 18px;
	font-family: 'Lobster';
	border-radius: 10px;
}
.log-in{
	margin-top: 30px;
}
.form-box{
	margin-bottom: 20px;
}
.message-box{
	height: 200px;
	resize: none;
}
.button{
	font-size: 20px;
	transition: all 0.5s ease;
	margin-bottom: 20px;
}
.button:hover{
	background-color: red;
}
.im{
	margin-bottom: 15px;
}
.janr{
	font-size: 35px;
}
.janr-1{
	text-align: center;
}

